body {
  background-image: url(formBG.jpg);
        background-position: center;
        background-size: cover;
        margin: 0;
        height: 100vw;
  padding:  50px;
  
  font-family: Copperplate, Papyrus, fantasy;
}

* {
  box-sizing: border-box;
}



.formdesign {
  font-size: 20px;
  border: 2px solid rgb(0, 153, 255);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px;
  
  display: flex;
}

.formdesign label{
  width: 50%;
  text-align: left;
  font-size: 25px;
}

.formdesign input {
  padding: 5px 9rem;
  width: 50%;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;

  border-radius: 4px;
  font-size: 15px;
  /* margin-left: 100px; */
}

.formerror {
  color: red;
  font-size: 15px;
  width: 35%;
  font-weight: bold;
}

.but {
  border-radius: 9px;
  width: 8rem;
  height: 2rem;
  font-size: 20px;
  border: 2px solid transparent;
  background-color: rgb(189, 135, 255);
  /* cursor: pointer; */
  
}
.but:hover{
  border-radius: 9px;
  width: 8rem;
  height: 2rem;
  font-size: 20px;
  background-color: rgb(255, 200, 128);
  border: 1px solid black;
  cursor: pointer;
  
}
form {
  border: 2px solid black;
  border-radius: 20px;
  width: auto;
  box-shadow: 2px 2px 20px 10px rgb(0, 0, 0,1);
  margin: 0vw 10vw;
  padding: 10px;
  background-color: rgba(232, 186, 255, 0.689);
  text-align: center;
  z-index: 1;
}

h1 {
  text-align: center;
}

h2{
  color: rgb(136, 0, 255);
  font-size: 20px;
}
#favlang{
  width: 100%;
}
